@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Book.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-BookItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularStd';
    src: url('../fonts/CircularStd-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

body {
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: var(--font-family);
    font-weight: 300;
}

h1,h2,h3,h4 {
    line-height: 1;
    font-weight: 700;
    margin: 0 0 1rem;
}

h1 {
    font-size: 5rem;
    letter-spacing: -.25rem;
}
@media screen and (max-width: 475px) {
    h1 {
        font-size: 3.5rem;
        letter-spacing: -.175rem;
    }
}
h2 {
    font-size: 3.75rem;
    letter-spacing: -.175rem;
}
@media screen and (max-width: 475px) {
    h2 {
        font-size: 2.5rem;
        letter-spacing: -.1rem;
    }
}
h3 {
    font-size: 1.5rem;
}

.text-white {
    color: var(--white);
}
.text-grey {
    color: var(--grey);
}
.text-center {
    text-align: center;
}

small {
    font-size: .8rem;
}